
{% for event in events %}
    <div class="event-row" style="border-bottom: solid 1px #ddd; clear: both; padding: 20px 0;">
        <div class="event-img-container" style="float: left; margin-right: 15px; position:relative; height: 120px; overflow: hidden; width: 160px; background: #777 url('{{ domain }}{{ event.getThumbLink() }}') center; background-size: cover;">
            <div class="date-overlay" style="background-color: rgba(0,0,0,.6); color: white; height: 90%; left: 0; padding-top: 10%; position: absolute; text-align: center; top: 0; width: 100%;">
                <div class="date-box" style="border: solid 2px #ddd; border-radius: 10px; display: inline-block; padding: 8px 20px;">
                    <span class="large" style="font-size: 2em; font-weight: 600; line-height: 1;">{{ event.getStartDatetime()|date('j') }}</span><br>
                    <span style="font-size: 1.5em; font-weight: 300; line-height: 1;">{{ event.getStartDatetime()|date('M') }}</span>
                </div>
                <div>{% if event.isAllDay() %}All Day{% else %}{{ event.getStartDatetime()|date('g:iA') }}{% endif %}</div>
            </div>
        </div>

        <div class="event-text-portion">
            <h3 style="margin-bottom: 0;">{{ event.getName() }}</h3>
            {% set hosts = event.getApprovedOrganizations() %}
            {% set instructors = event.getApprovedInstructors() %}
            <div class="small-section" style="line-height: 1;">
                {% if hosts|length %}
                    <small style="color: #888;">hosted by {{ hosts|first.getName() }}{% if hosts|length > 1 %} (+ {{ hosts|length-1 }} more){% endif %}</small>{% if hosts|length and instructors|length %}<small style="color: #888;">, </small>{% endif %}
                {% endif %}

                {% if instructors|length %}
                    <small style="color: #888;">taught by {{ instructors|first.getName() }}{% if instructors|length > 1 %} (+ {{ instructors|length-1 }} more){% endif %}</small>
                {% endif %}
            </div>
            <div class="event-description" style="margin-top: 5px;">{{ event.getBlurb() }}</div>
            <a href="{{ domain }}{{ path_for('event', {'eventId': event.getId(), 'date': event.getStartDatetime()|date('U')}) }}" style="float: right;">Learn more</a>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endfor %}