<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<link rel="stylesheet" href="email_style.css">
    <div class="head"><img src="{{ domain }}/img/full_logo.png"></div>
    <div class="content">
        <p>Thank you for creating an account with USA Dance VT!  Please follow the link below to verify your account or paste the link into your browser.</p>
        <a class="verify" href="{{ domain }}/account/verify/{{userId}}?token={{verificationCode}}">Verify</a>
        <p>{{ domain }}/account/verify/{{userId}}?token={{verificationCode}}</p>
    </div>
</body>
</html>