<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<link rel="stylesheet" href="email_style.css">

<div class="head"><img src="{{ domain }}/img/full_logo.png"></div>
<div class="content">
    {% for section in sections %}
    <div class="newsletter-section">
        {{ section.content|raw }}
    </div>
    <div style="clear: both;"></div>
    {% endfor %}
</div>

<div class="footer">
    <a href="{{ domain }}/unsubscribe">Unsubscribe</a> | <a href="{{ domain }}/newsletter/{{ newsletterId }}">View in Browser</a>
</div>
</body>
</html>