<div class="head" style="height: 44px;padding: 8px 4px;background-color: #444;"><img src="{{ domain }}/img/full_logo.png"></div>
<div class="content" style="font-family: 'Arial', sans-serif;font-size: 11pt;padding: 8px;margin-left: auto;margin-right: auto;">
    <p>We received a password reset request for your account.  If this was you, click the link or paste the following link into your browser.</p>
    <a class="verify" href="{{ domain }}/account/reset-password/{{userId}}?token={{code}}" style="display: inline-block;max-width: 200px;width: 100%;text-align: center;font-size: 16px;font-weight: 300;background: #2895F1;text-decoration: none;border: 1px solid #007ee5;line-height: 24px;padding: 7px 16px;border-radius: 5px;color: white;">Reset</a>
    <p>{{ domain }}/account/reset-password/{{userId}}?token={{code}}</p>
</div>